@{
    ViewData["Title"] = "Detalles Destino";
}

<div class="container banner text-center">
    <div class="col-12">
        <img src="~/img/destinos/@ViewBag.Destino.Id/cover.jpg" alt="Nature" />
    </div>
</div>

<div class="container">
    <h1 class="text-center textColor">@ViewBag.Destino.Nombre</h1>
    <hr class="bg-danger" />
    <p class="textColor">
        @ViewBag.Destino.Descripcion
    </p>
    <div class="pt-5">
        <div class="card-columns" id="galeria1">
            @foreach (var item in ViewBag.Galeria)
            {
                <div class="card card-gal">
                    <a href="#" data-toggle="modal" data-target="#img_@(item)">
                        <img src="~/img/destinos/@ViewBag.Destino.Id/@(item).jpg" alt="" class="card-img-top">
                    </a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="img_@(item)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Imagenes de @ViewBag.Destino.Nombre</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">
                                <img src="~/img/destinos/@ViewBag.Destino.Id/@(item).jpg" alt="" class="img-fluid img-gal">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <h1 class="text-center textColor pt-3">UBICACIÓN</h1>
    <hr class="bg-danger" />
    <p class="textColor">
        @ViewBag.Destino.Ubicacion
    </p>

    <!--Mapa del sitio-->
    <div class="col-sm-12 mx-auto text-center d-flex">
        <iframe width="800" height="500" id="gmap_canvas" src="@ViewBag.Destino.DireccionMapa" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
    </div>
</div>